/* .errorContainer{
    padding: 10% 8%;
    width: 100%;
    // font-family: 'Roboto', sans-serif;
    float: left;
    .my404
    {
        width:42%;
        float: left;
        
        .errorBanner{
            width: 90%;
            height: auto;
        }
        @media screen and (max-width: 767px)
        {
            width:100%;
            float: left;
        }
    }
    .content404
    {
        width: 50%;
        float: left;
        padding-left: 5%;
        border-left: 1px solid #e1e1e1;
        min-height: 390px;
        padding-top: 35px;
        padding-bottom: 35px;
        @media screen and (max-width: 767px)
        {
            width:100%;
            float: left;
        }
        h2
        {
            font-size: 85px;
            margin: 0px;
        }
    }
    .error404{
        text-align: left;
        font-size: 24px;
    }
    .errorContent{
        text-align: left;
        font-size: 15px;
        width: 100%;
        line-height: 35px;
    }
    .goToHomeContainer{
        width: 100%;
        text-align: left;
        .goToHomeBtn{
            margin: 6px auto;
            width: 190px;
            font-size: 16px;
            font-weight: normal;
            background: #000000;
            color: white;
            border-radius: 0px;
            height: 40px;
            box-shadow: none;
            font-family: 'Roboto', sans-serif;
        }
    }
} */
